In [25]:
#Task 1:
name = "Muhammad Ahsan"
print(name.upper())
print(name.lower())
print(name.capitalize())

MUHAMMAD AHSAN
muhammad ahsan
Muhammad ahsan

In [ ]:
#Task 2:
a = input("Enter a sentence: ")
print(a.count('the'))

Enter a sentence: Karachi is the biggest city of the pakistan
2

In [27]:
#Task 3:
class1 = "Ai and data science "
print(class1.strip())
print(class1.replace(" ", "-"))

Ai and data science
Ai-and-data-science-

In [ ]:
#Task 3:
class1 = input("enter any string: ")
print(class1.strip())
print(class1.replace(" ", "-"))

enter any string: Ai and Data Science
Ai and Data Science
Ai-and-Data-Science-

In [ ]:
#Task 4:
a = "Hello world"
print(a.startswith("Hello"))
print(a.endswith("world"))

True
True

In [ ]:
#Task 5:
fruit = "banana"
print(fruit.count("a"))

3

In [38]:
#Task 6:
age = "My age is 19"
print(age)
age2=(age.split(" "))
print(age2)
a="\n".join(age2)
print(a)

My age is 19
['My', 'age', 'is', '19']
My
age
is
19

In [5]:
#Task 7:
user_input = input("Enter something: ")
print(user_input.isdigit())
numbers= input("enter any digits: ")
(numbers.isdigit())
print(numbers.isdigit())

Enter something: Ahsan12345
False
enter any digits: 789654
True

In [19]:
#Task 8:
course = "We are learning python"
print(course[::-1])

nohtyp gninrael era eW

In [28]:
#Task 9:
code= input("enter any sentence: ")
print(code.replace("Python", "Java"))

enter any sentence: "I like Python because Python is simple and Python is useful."
"I like Java because Java is simple and Java is useful."